h1 {
    color: rgb(255, 0, 0);
    text-align: center;
}


.block {
    background-color: rgb(241, 221, 221);
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    border-color: rgb(0, 0, 0);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}


img {
    width: 50%;
    margin: auto;
    display: block;


}
h2 {color: black;
    background-color: rgba(93, 162, 194, 0.411);
    text-align: center;
    border-radius: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
}


a {
    text-decoration: none }
a:hover {color:mediumslateblue;
        text-decoration: underline blueviolet;}
a:visited{color:darkblue}


.tooltip .tooltiptext{
    /*nascondi il tooltip*/
    visibility: hidden;
    width: 420px;
    background-color: rgb(25, 167, 28);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
     
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}